doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title ArtistShop
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container
      header
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active href="/" = t('.all_orders')
          li.nav-item
            = link_to t('.new_order'), new_order_path , class:"nav-link"
          - if user_signed_in?
            li.nav-item
              = link_to t('.my_orders'), user_path(current_user) , class:"nav-link"
            li.nav-item
              = link_to t('.logout') + " - #{current_user.email}", destroy_user_session_path, :method => :delete  , class:"nav-link"
          - else
            li.nav-item
              = link_to t('.login'), new_user_session_path , class:"nav-link"
            li.nav-item
              = link_to t('.registaration'), new_user_registration_path , class:"nav-link"
      .for_flash
        - flash.each do |name, message|
          p
            - message
      = yield
